* {
    box-sizing: border-box;
    margin: 0;
}

.logo img {
    width: 300px;
}

#home,
.campus-map,
nav,
.nav-links,
.nav-links>ul {
    display: flex;
    flex-direction: row;
}

nav,
.nav-links,
.nav-links>ul {
    gap: 30px;
    align-items: center;
}

nav {
    padding: 0px 50px;
    justify-content: space-between;
}

main {
    padding: 30px;
}

.nav-links>ul {
    list-style-type: none;
}

.nav-links a, .login-button {
    color: black;
    text-decoration: none;
    box-sizing: content-box;
    padding: 10px;
    border-radius: 5px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.login-button {
    color: white;
    background-color: #2C2C2C;
    border: none;
}

.nav-links a:hover {
    background-color: #D9D9D9;
}

.campus-map>img {
    width: 1000px;
}

.zoom-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.zoom-buttons>button {
    width: 30px;
    height: 30px;
}
