.logo img {
    width: 300px;
}

#home,
.campus-map,
nav,
.nav-links,
.nav-links>ul {
    display: flex;
    flex-direction: row;
}

nav,
.nav-links,
.nav-links>ul {
    gap: 30px;
    align-items: center;
}

nav {
    padding: 0px 50px;
    justify-content: space-between;
}

.nav-links>ul {
    list-style-type: none;
}

.campus-map>img {
    width: 1000px;
}

.zoom-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.zoom-buttons>button {
    width: 30px;
    height: 30px;
}
