html {
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
}

main {
    margin: 20px;
}

/* Navigation Bar */
.navigationBar {
    width: 100%;
    padding: 5px 20px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: white;
    transition: all 0.3s ease;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 50px;
    height: 50px;
    border-radius: 5%;
    object-fit: cover;
}

.navlinks {
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: auto;
}

.navlinks ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navlinks a {
    text-decoration: none;
    color: black;
    padding: 5px 0;
}